<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-6xl font-bold mt-4 mb-4">
            HaraSign
          </h1>
          
        </div>
        <h2 class="mt-4 mb-16 text-lg text-center text-gray-600">
          A eSignature platform that provides secure and efficient digital document signing and processing.
        </h2>
      </div>
    </div>
  </div> 
</section>
