<div class="alert">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">Single Sign On with SAML 2.0</p>
    <p class="text-gray-700">
      Unlock with HaraSoftware Pro
      <br>
    </p>
  </div>
</div>
